
<div class="hero_header">
    <div class="logo-n-text">
        <div class="titles-n-subtitles">
            <a href="/" class="logo-link-text">
                <h3 class=" big-page-title">
                    BALKANEWS
                </h3>
            </a>
            <p class="subtitle">All the news at one place</p>
        </div>
        <div class="menu-button">
            <div class="menu-button__burger"></div>
        </div>
        <form action="/search" method="get" class="search-form">
            <input type="search" placeholder="search for the term" name="term">
            <input type="submit" value="Search">
        </form>
        
            <div class="small-time-container">
                <ul class="small-time-options">
                    <li class="small-time-tab"><a class="small-time-link" href="/smperiod12"> 12h</a></li>
                    <li class="small-time-tab"><a class="small-time-link" href="/smperiod24"> 24h</a></li>
                    <li class="small-time-tab"><a class="small-time-link" href="/smperiod72"> 72h</a></li>
                    <li class="small-time-tab"><a class="small-time-link" href="/smperiod168"> 7d</a></li>
                </ul>
            </div>
        
    </div>
   
</div>

<nav id="navigation-bar" class="navigation-bar invisible">
    <ul class="navigation-list main-nav-list">
        <li class="glavna-link"><a class="link-con glavna-con" href="/">Glavna</a></li>
        <li class="tab-link"><a class="link-con" href="/najnovije">Najnovije</a></li>
        <li class="tab-link"><a class="link-con" href="/najcitanije">Najčitanije</a></li>
        <li class="tab-link accordion">
            <h3 class="menu-tab link-con mark-tab">Srbija</h3>
            <div class="sub-menu">
                <ul class="sub-list">
                    <li class="sub-nav-tab country-name"><a href="/srbija">Sve</a></li>
                    <li class="sub-nav-tab"><a href="/politika/srbija/Srbija">Politika</a></li>
                    <li class="sub-nav-tab"><a href="/zabava/srbija/Srbija">Zabava</a></li>
                    <li class="sub-nav-tab"><a href="/sport/srbija/Srbija">Sport</a></li>
                    <li class="sub-nav-tab"><a href="/drustvo/srbija/Srbija">Društvo</a></li>
                    <li class="sub-nav-tab"><a href="/kultura/srbija/Srbija">Kultura</a></li>
                    <li class="sub-nav-tab"><a href="/aktuelno/srbija/Srbija">Aktuelno</a></li>
                </ul>
            </div>
        </li>
        <li class="tab-link accordion">
            <h3 class="menu-tab link-con mark-tab" h3>Crna Gora</h3>
            <div class="sub-menu">
                <ul class="sub-list">
                    <li class="sub-nav-tab country-name"><a href="/crna-gora">Sve</a></li>
                    <li class="sub-nav-tab"><a href="/politika/crna-gora/Crna%20Gora">Politika</a></li>
                    <li class="sub-nav-tab"><a href="/zabava/crna-gora/Crna%20Gora">Zabava</a></li>
                    <li class="sub-nav-tab"><a href="/sport/crna-gora/Crna%20Gora">Sport</a></li>
                    <li class="sub-nav-tab"><a href="/drustvo/crna-gora/Crna%20Gora">Društvo</a></li>
                    <li class="sub-nav-tab"><a href="/kultura/crna-gora/Crna%20Gora">Kultura</a></li>
                    <li class="sub-nav-tab"><a href="/aktuelno/crna-gora/Crna%20Gora">Aktuelno</a></li>
                </ul>
            </div>
        </li>
        <li class="tab-link accordion">
            <h3 class="menu-tab link-con mark-tab" h3>BiH</h3>
            <div class="sub-menu">
                <ul class="sub-list">
                    <li class="sub-nav-tab country-name"><a href="/bosna-i-hercegovina">Sve</a></li>
                    <li class="sub-nav-tab"><a href="/politika/bosna-i-hercegovina/BiH">Politika</a></li>
                    <li class="sub-nav-tab"><a href="/zabava/bosna-i-hercegovina/BiH">Zabava</a></li>
                    <li class="sub-nav-tab"><a href="/sport/bosna-i-hercegovina/BiH">Sport</a></li>
                    <li class="sub-nav-tab"><a href="/drustvo/bosna-i-hercegovina/BiH">Društvo</a></li>
                    <li class="sub-nav-tab"><a href="/kultura/bosna-i-hercegovina/BiH">Kultura</a></li>
                    <li class="sub-nav-tab"><a href="/aktuelno/bosna-i-hercegovina/BiH">Aktuelno</a></li>
                </ul>
            </div>
        </li>
        <li class="tab-link accordion">
            <h3 class="menu-tab link-con mark-tab" h3>Hrvatska</h3>
            <div class="sub-menu">
                <ul class="sub-list">
                    <li class="sub-nav-tab country-name"><a href="/hrvatska">Sve</a></li>
                    <li class="sub-nav-tab"><a href="/politika/hrvatska/Hrvatska">Politika</a></li>
                    <li class="sub-nav-tab"><a href="/zabava/hrvatska/Hrvatska">Zabava</a></li>
                    <li class="sub-nav-tab"><a href="/sport/hrvatska/Hrvatska">Sport</a></li>
                    <li class="sub-nav-tab"><a href="/drustvo/hrvatska/Hrvatska">Društvo</a></li>
                    <li class="sub-nav-tab"><a href="/kultura/hrvatska/Hrvatska">Kultura</a></li>
                    <li class="sub-nav-tab"><a href="/aktuelno/hrvatska/Hrvatska">Aktuelno</a></li>
                </ul>
            </div>
        </li>
        <li class="tab-link accordion">
            <h3 class="menu-tab link-con mark-tab" h3>Makedonija</h3>
            <div class="sub-menu">
                <ul class="sub-list">
                    <li class="sub-nav-tab country-name"><a href="/makedonija">Sve</a></li>
                    <li class="sub-nav-tab"><a href="/politika/makedonija/Makedonija">Politika</a></li>
                    <li class="sub-nav-tab"><a href="/zabava/makedonija/Makedonija">Zabava</a></li>
                    <li class="sub-nav-tab"><a href="/sport/makedonija/Makedonija">Sport</a></li>
                    <li class="sub-nav-tab"><a href="/drustvo/makedonija/Makedonija">Društvo</a></li>
                    <li class="sub-nav-tab"><a href="/kultura/makedonija/Makedonija">Kultura</a></li>
                    <li class="sub-nav-tab"><a href="/aktuelno/makedonija/Makedonija">Aktuelno</a></li>
                </ul>
            </div>
        </li>
        <li class="tab-link"><a class="link-con" href="/">Ljubimci</a></li>
        <li class="tab-link"><a class="link-con" href="/">Putovanja</a></li>
        <li class="tab-link"><a class="link-con " href="/dodatno">Još</a></li>
    </ul>
   
</nav>
<script>
    const menuBtn = document.querySelector(".menu-button");
    const hamburger = document.querySelector(".menu-button__burger");
    const navigationBar = document.querySelector("#navigation-bar");
    menuBtn.addEventListener("click", toggleMenu);

    function toggleMenu() {
        hamburger.classList.toggle("open");
        navigationBar.classList.toggle("invisible");
    }

    const accordion = document.querySelectorAll(".accordion");
    const subMenu = document.querySelectorAll(".sub-menu")
    accordion.forEach(element => element.addEventListener("click", function () {
        accordion.forEach(elm => elm.children[0].classList.remove("marked")) 

        if ( element.children[1].classList.contains("visible")) {
            setTimeout(function(){  element.children[1].classList.remove("visible");
            }, 450);
            element.children[1].classList.add("non-visible");
            element.children[0].classList.remove("marked");
           
        }else{
            subMenu.forEach(countryMenu => countryMenu.classList.remove("visible"));
            element.children[1].classList.remove("non-visible");
            element.children[0].classList.add("marked");
            element.children[1].classList.add("visible")
           
        }
        // if (element.children[1].style.display == "block") {
        //     element.children[1].style.display = "none";
        // } else {
        //     subMenu.forEach(countryMenu => countryMenu.style.display = "none");
        //     element.children[1].style="display: block; animation-name: turning-in;";
        // }
    }));
    let parent = document.querySelector('.navigation-bar').parentElement;

while (parent) {
const hasOverflow = getComputedStyle(parent).overflow;
if(hasOverflow !== 'visible') {
    console.log(hasOverflow, parent);
}
parent = parent.parentElement;
}
</script>
