<div class="hero_head">

    <div class="titles_subtitles">
        <a href="/">
            <h3 class="title big-page-title">
                Balkan news feed
            </h3>
        </a>
        <p class="subtitle">All news at one place</p>
    </div>
    <form action="/search" method="get" class="search-form">
        <input type="search" placeholder="search for the term" name="term">
        <input type="submit" value="Search">
    </form>
</div>