<div class="hero_head">
    <div class="titles-n-subtitles">
        <a href="/" class="logo-link-text">
            <h3 class=" big-page-title">
                BALKANEWS
            </h3>
        </a>
        <p class="subtitle">All the news at one place</p>
    </div>
    <form action="/search" method="get" class="search-form">
        <input type="search" placeholder="search for the term" name="term">
        <input type="submit" value="Search">
    </form>
</div>