<section class="hero">
    <nav>
        <div>
            <a href="/">
                <h3 class="title">
                    Balkan news feed
                </h3>
            </a>
            <p class="subtitle">Sve vesti na jednom mestu</p>
        </div>
        <ul>
            <li><a href="/">Glavna</a></li>
            <li><a href="/politika">Politika</a></li>
            <li><a href="/zabava">Zabava</a></li>
            <li><a href="/sport">Sport</a></li>
            <li><a href="/drustvo">Drustvo</a></li>
            <li><a href="/kultura">Kultura</a></li>
            <li><a href="/aktuelno">Aktuelno</a></li>
        </ul>
    </nav>
</section>