<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

<body>
    <%- include('./partials/header.ejs')%>
    <section class="section">
      <h2>Ups, nesto nije u redu. Trazena stranica nije nadjena. Probajte neku drugu vest.</h2>
    </section>

    <%- include('./partials/footer.ejs')%>    
</body>

</html>