<!DOCTYPE html>
<html lang="sr">
<%- include('./partials/head.ejs')%>

<body>
  <%- include('./partials/header.ejs')%>
  <section class="section wrong-page">
    <h2>Ups, nesto nije u redu. Trazena stranica nije nadjena. Probajte neku drugu vest.</h2>
    <br>
    <h2>Oops something went wrong. The requested page can't be found. Try some other news</h2>
  </section>
</body>

</html>