<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

<body>
    <%- include('./partials/header.ejs')%>
    <section class="section">
      <h2>Ovo je Aktuelno</h2>
    </section>
    <%- include('./partials/footer.ejs')%>
</body>

</html>