<!DOCTYPE html>
<html lang="sr">
<%- include('./partials/head.ejs')%>

<body>  
    <%- include('./partials/header.ejs')%>
    <!-- <section class="section">
        <h2>Ispratite najnovije aktuelnosti iz regiona</h2>
    </section> -->
    <section class="section">
        <div class="container is-fluid">
            <div class="columns is-multiline">
                <div class="column is-half is-offset-one-quarter">
                </div>
                <div class="column is-full">
                    <%- include('./partials/one-country-articles.ejs')%>
                </div>
            </div>
        </div>
    </section>>
</body>

</html>