<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body>

    <%- include('./partials/header.ejs')%>
    <section class="section">
        <div class="container is-fluid">
            <ul class="options-menu-list">
                <li class="dodatno-opt"><a href="/sacuvane-vesti" class="pers-ops">Prikazi sacuvane vesti</a> </li>              
                <li class="dodatno-opt"> <a href="/period" class="pers-ops">Pomeni vremenski okvir</a></li>
                <li class="dodatno-opt"> <a href="/portali" class="pers-ops">Medijski portali</a></li>
                <li class="dodatno-opt"> <a href="/kripto" class="pers-ops">Kripto vesti</a></li>
                <li class="dodatno-opt"> <a href="/hitech" class="pers-ops">HiTech</a></li>
            </ul>
        </div>
    </section>
</body>

</html>