<!DOCTYPE html>
<html lang="sr">
<%- include('./partials/head.ejs')%>

<body>

    <%- include('./partials/header.ejs')%>
    <section class="section">
        <div class="container is-fluid">
            <div class="columns is-multiline">
                <div class="naslov-terminusa">
                    <p>Izaberite terminus vesti</p>
                </div>
                <div class="time-container">
                    <ul class="time-options">
                        <li class="time-tab"><a class="time-tab-link" href="/period12"> 12h</a></li>
                        <li class="time-tab"><a class="time-tab-link" href="/period24"> 24h</a></li>
                        <li class="time-tab"><a class="time-tab-link" href="/period72"> 72h</a></li>
                        <li class="time-tab"><a class="time-tab-link" href="/period168"> 7dana</a></li>
                    </ul>
                </div>
               
            </div>
        </div>
    </section>
</body>

</html>