<%- include('./partials/head.ejs')%>

<body>

    <%- include('./partials/header.ejs')%>
    <%- include('./partials/main-navigation.ejs')%>
    <section class="section">
        <div class="container is-fluid">
            <div class="columns is-multiline">
                <div class="column is-half is-offset-one-quarter">
                </div>
                <div>
                    <ul class="time-options">
                        <li class="time-tab">12h</li>
                        <li class="time-tab">24h</li>
                        <li class="time-tab">72h</li>
                        <li class="time-tab">7dana</li>
                    </ul>
                </div>
               
            </div>
        </div>
    </section>
    <%- include('./partials/footer.ejs')%>
</body>

</html>