<!DOCTYPE html>
<html lang="sr">
<%- include('./partials/head.ejs')%>

<body>

    <%- include('./partials/header.ejs')%>
    <div class="navigation-bars">
        <%- include('./partials/main-navigation.ejs')%>
    </div>
    <section class="section">
        <div class="container is-fluid">
            <div class="columns is-multiline">
                <div class="column is-half is-offset-one-quarter">
                </div>
                <div>
                    <ul class="time-options">
                        <li class="time-tab"><a href="/period12"> 12h</a></li>
                        <li class="time-tab"><a href="/period24"> 24h</a></li>
                        <li class="time-tab"><a href="/period72"> 72h</a></li>
                        <li class="time-tab"><a href="/period168"> 7dana</a></li>
                    </ul>
                </div>
               
            </div>
        </div>
    </section>
    <%- include('./partials/footer.ejs')%>
</body>

</html>