<!DOCTYPE html>
<html lang="sr">
<%- include('./partials/head.ejs')%>

<body>

    <%- include('./partials/header.ejs')%>
    <section class="section">
        <div class="container is-fluid">
          <ul>
            <li class="options-menu-list">
              <a href="/sacuvane-vesti" class="pers-ops">Prikazi sacuvane vesti</a>
              <a href="/" class="pers-ops">Prikazi vise ovakvih vesti</a>
              <a href="/" class="pers-ops">Prikazi manje ovakvih vesti</a>
              <a href="/" class="pers-ops">Zapratite ovu temu</a>
              <a href="/" class="pers-ops">Medijski portali</a>
            </li>
          </ul>
        </div>
    </section>
</body>

</html>