<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body>    
    <% if (subpath=='makedonija') { %>
    <%- include('./partials/macedonian-header.ejs')%>
    <% }else{ %>
        <% }; %>
    <section class="section">
        <div class="container is-fluid">
            <div class="columns is-multiline">
                <div class="column is-half is-offset-one-quarter">

                </div>
                <div class="column is-full">
                    <%- include('./partials/one-country-articles.ejs')%>
                </div>
            </div>
        </div>
    </section>
</body>

</html>