<!DOCTYPE html>
<html lang="sr">
<%- include('./partials/head.ejs')%>

<body>

            <%- include('./partials/header.ejs')%>
    <p class="page-subtitle">Sačuvane vesti:</p>
    <section class="section">
        <div class="container is-fluid">
            <div class="columns is-multiline">
                <div class="column is-full">
                    <% if (articles == null) { %>
                        <p class="no-saved-articles">Nema sačuvanih članaka</p>
                        <% }else{ %>
                    <% for (let i=0; i< articles.length; i++){ %>
                        <% console.log("this is else") %>
                       <p class="saved-articles"><a href="/selected/?articleLink=<%=articles[i].link%>"><%= i+1+". "+ articles[i].title %></a></p>
                    <% };}; %>
                 
                </div>
            </div>
        </div>
    </section>
</body>

</html>