<!DOCTYPE html>
<html lang="sr">
<%- include('./partials/head.ejs')%>

<body>

    <% if (subpath=='makedonija') { %>
        <%- include('./partials/macedonian-header.ejs')%>
        <% }else{ %>
            <% }; %>
    <p>SaÄuvane vesti:</p>
    <section class="section">
        <div class="container is-fluid">
            <div class="columns is-multiline">
                <div class="column is-full">
                    <% for (let i=0; i< articles.length; i++){ %>
                       <p><a href="/selected/?articleLink=<%=articles[i].link%>"><%= i+1+". "+ articles[i].title %></a></p>
                    <% }; %>
                 
                </div>
            </div>
        </div>
    </section>
</body>

</html>