*{
  box-sizing: border-box;
}
.hero_head {
  height: 120px;
  padding-left: 1.5rem;
  /* background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/waldemar-brandt-JYPDh4ter10-unsplash.jpg'); */
}
.titles-n-subtitles {
  height: 100%;
}
.logo-link-text{
  height: 60%;
  display: flex;
  align-items: center;
}
.big-page-title {
  font-size: 4em;
  font-weight: 900;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -5px;
  color: #007aff;
}
.subtitle{
}
.search-form {
  position: absolute;
  top: 75px;
  right: 50px;
  display: flex;
}
.navigation-bars{
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 5;
}
.navigation-bar {
  width: 100%;
  height: 50px;
  display: flex;
}
.navigation-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
}
.main-nav-list {
  background-color: #007aff;
}
.main-nav-list > li {
  padding-top: 10px;
  
}
.glavna-link{
  width: 10%;
  padding-left: 1.5rem;
  
}
.tab-link{
  width: 9%;
  text-align: center;
  
}
.main-nav-list > li>a{
  width: 100%;
  color: white;
  font-weight: 500;
  
}
.main-nav-list > li:hover {
  background-color: #d9ed92;
}
.subtitles-navigation {
  top: 5vh;
  background-color: #333;
}
.sub-nav-tab{
  width: 14%;
  padding-top: 10px;
 
  text-align: center;
}
.sub-nav-tab>a{
   color: white;
}
.country-name>a{
  font-weight: 800;
}
.menu-button {
  display: block;
  position: absolute;
  z-index: 17;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-button__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background-color:black;
  transition: all 0.5s ease-in-out;
}
.menu-button__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: black;
  transition: all 0.5s ease-in-out;
}
.menu-button__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background-color: black;
  transition: all 0.5s ease-in-out;
}
.menu-button__burger.open {
  transform: rotate(360deg);
  background: transparent;
}
.menu-button__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-button__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.section {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container.is-fluid {
  padding-left: 0;
  padding-right: 0;
}
.options-menu-list{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}
.news-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.news-item {
  flex-grow: 1;
  margin: 5px 0;
  width: 100%;
}
.card-content {
  
}
.media {
  width: 90%;
  margin: auto;
}
.media-left {
  width: 100%;
}
.article-picture{
  width: 100%;
  height: 30vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.article-picture>.pic-image{
  width: 100%;
  height: 100%;
}
.article-picture>.pic-image>img{
  max-width: 100%;
  height: 100%;
}
.media-source {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
}
.media-content{
  
}
.media-data{
  display: block;
  width: 100%;
}
.content{
  margin-top: 15px;
}
.day-n-time{
  color: gray;
  font-size: 0.7em;
  margin-top: 1em;
  margin-left: 1em;
}
.selected_art {
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
}
.card-selected {
  margin: 0;
  width: 100%;
}
.article-link-div {
  width: 100%;
  display: flex;
}
.article-link {
  width: 50%;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  background-color: #007aff;
  color: white;
  padding: 5px 0;
}
.time-options {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: solid yellowgreen 1px;
}
.time-tab {
  width: 10vw;
}
.time-tab:hover {
  border-bottom: solid yellowgreen 3px;
}
.soc-nets {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.viber_share {
  display: block;
  width: 50px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/share_purple_512_normal.png);
}
@media screen and (min-width: 768px) {
  .news-item {
    width: 40%;
    margin: 5px;
  }
}

@media screen and (min-width: 1366px) {
  .news-item {
    width: 30%;
  }
}

@media screen and (min-width: 1500px) {
  .news-item {
    width: 20%;
  }
}
